html {
  height: 100vh;
}
h5 {
  margin: 0;
}
.Main {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "header"
    "body-content";
}

.body-content {
  grid-area: body-content;
  display: grid;
  color: white;
  height: 100%;
  max-height: 100%;
}

.available-users-section {
  grid-area: available-users-section;
  padding: 0.5rem;
  background: #21242b;
}

header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  background: #09d3ac;
}
/* if the screen is less than 700px  */
@media only screen and (max-width: 870px) {
  .body-content {
    grid-template-rows: 200px auto;
    grid-template-areas:
      "available-users-section"
      "chat-section";
  }
  .available-users-section .avatar-grid {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .available-users-section {
    overflow-x: scroll;
  }
  .availableChatUser:focus {
    background: none;
    outline: none !important;
  }
}

/* If the screen is between 700px and 120 px */
@media only screen and (min-width: 870px) and (max-width: 1200px) {
  .available-users-section .avatar-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 100px);
    overflow-y: scroll;
  }
  .available-users-section {
    overflow-y: scroll;
    height: 100%;
  }
  .availableChatUser:focus {
    background: rgba(3.5%, 82.7%, 67.5%, 0.5);
  }
  .body-content {
    grid-template-columns: 2fr 4fr;
    grid-template-areas: "available-users-section chat-section";
  }
}

/* If the screen is 1200px or wider */
@media (min-width: 1200px) {
  .available-users-section .avatar-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 100px);
    overflow-y: scroll;

    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .availableChatUser:focus {
    background: rgba(3.5%, 82.7%, 67.5%, 0.5);
  }
  .body-content {
    grid-template-columns: 2fr 4fr;
    grid-template-areas: "available-users-section chat-section";
    height: 100%;
  }
  .available-users-section {
    overflow-y: scroll;
  }
  .available-users-section {
    overflow-y: scroll;
    height: 100%;
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.availableChatUser {
  position: relative;
  transition: 0.3s;
  opacity: 0.5;
}

.user-active {
  opacity: 1;
  color: #09d3ac;
  font-weight: 500;
}

.availableChatUser:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.15s;
  opacity: 1;
}

.unread-user::after {
  content: "";
  width: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  height: 20px;
  border-radius: 10px;
  background: turquoise;
}

.submit-chat-button {
  border-radius: 10px;
  color: white;
  background: #09d3ac;
  border: none;
}

.submit-chat-input {
  border-radius: 10px;
  background: #21242b;
  padding: 0.5rem;
  color: #09d3ac;
  border: none;
}

.submit-chat-input:focus {
  outline-style: none;
  box-shadow: 0 0 3px 2px #09d3ac !important;
}

.chat-section {
  grid-area: chat-section;
  padding: 1rem;
  display: grid;
  height: 100%; /* this should be 100% of the parent component, which is body-content*/
  max-height: 70vh;
  max-height: -webkit-calc(50% - 20px);
  max-height: -moz-calc(100vh - 100px);
  max-height: calc(100vh - 100px); /* this should be 100% of the parent component, which is .chat-section */
  grid-template-rows: 50px auto 50px;
}
.message-board {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  height: 100%;
}
